flask
opencv-python>=4.5.5
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
mediapipe>=0.9.3
pyautogui
SpeechRecognition
pyttsx3
face_recognition
dlib
pyaudio
python-dotenv
requests
plyer
pywin32
pillow
psutil 
pygetwindow