<nav class="nav nav-pills flex-column nav-fill">
    <a class="nav-link text-start active" aria-current="page" href="{{ url_for('main.home') }}">
        <i class="bi bi-house-door-fill me-2"></i>Home
    </a>
    <a class="nav-link text-start" href="{{ url_for('main.ajustes') }}">
        <i class="bi bi-gear-fill me-2"></i>Ajustes
    </a>
    <a class="nav-link text-start" href="#">
        <i class="bi bi-grid-1x2-fill me-2"></i>Dashboard
    </a>
    <a class="nav-link text-start" href="#">
        <i class="bi bi-person-fill me-2"></i>Perfil
    </a>
    <a class="nav-link text-start" href="{{ url_for('main.landing') }}">
        <i class="bi bi-info-circle-fill me-2"></i>Sobre
    </a>
</nav>