{% block title %}Funcionalidades - SeeMe{% endblock %}
{% extends 'base.html' %}

{% block content %}

<main class="flex-grow-1" style="padding-top: 80px;">
    {% include '_flashes.html' %}
    <div class="container col-md-8 col-lg-7 mx-auto">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="{{ url_for ('static', filename='img/camera.png') }}" class="img-fluid rounded-start" alt="Ícone de microfone">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Rastreamento Ocular</h5>
                        <p class="card-text">Através do ponto médio de seus olhos, manipule o mouse, permitindo uma navegação acessível</p>
                        <button onclick="startTracking()" class="btn btn-primary">Iniciar Rastreamento</button>
                        <button onclick="stopTracking()" class="btn btn-danger">Parar Rastreamento</button>
                    </div>
                    <p class="card-text"><small id="status_camera" class="text-body-secondary"></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-md-8 col-lg-7 mx-auto">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="{{ url_for ('static', filename='img/microfone.png') }}" class="img-fluid rounded-start" alt="Ícone de microfone">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Voice Recognition</h5>
                        <p class="card-text">Utilize a sua voz para realizar determinadas ações em seu computador. Verifique as opções em “ajustes”</p>
                        <button onclick="StartVoice()" class="btn btn-primary">Iniciar voz</button>
                        <button onclick="StopVoice()" class="btn btn-danger">Parar voz</button>
                    </div>
                    <p class="card-text"><small id="status_voz" class="text-body-secondary"></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-md-8 col-lg-7 mx-auto">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img src="{{ url_for ('static', filename='img/hand.png') }}" class="img-fluid rounded-start" alt="Ícone de microfone">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Gestos</h5>
                        <p class="card-text">Utilize a sua mão para realizar determinadas ações em seu computador. Verifique as opções em “ajustes”</p>
                        <button onclick="StartGestos()" class="btn btn-primary">Iniciar Reconhecimento</button>
                        <button onclick="StopGestos()" class="btn btn-danger">Parar Reconhecimento</button>
                    </div>
                    <p class="card-text"><small id="status_gestos" class="text-body-secondary"></small></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Área para exibir o stream de vídeo dos gestos -->
    <div class="container col-md-8 col-lg-7 mx-auto" id="video-container" style="display: none;">
        <div class="card mb-3">
            <div class="card-body text-center">
                <h5 class="card-title">Stream de Rastreamento</h5>
                <img id="gesture-stream" src="" alt="Stream de gestos" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <a class="btn btn-primary btn-lg" href="{{ url_for ('main.ajustes') }}" style="margin: 10px; padding: 10px; width: 300px; border-radius: 90px;">Ajustes e atalhos</a>    
    </div>
    <p id="status"></p>
</main>

<br>

<script>
    function startTracking() {
        fetch('/start-tracking')
            .then(response => response.text())
            .then(data => {
                document.getElementById('status_camera').innerText = data;
            })
            .catch(error => console.error('Erro:', error));
    }

    function stopTracking() {
        fetch('/stop-tracking')
            .then(response => response.text())
            .then(data => {
                document.getElementById('status_camera').innerText = data;
            })
            .catch(error => console.error('Erro:', error));
    }

    function StartVoice() {
        fetch('/start-voice')
            .then(response => response.text())
            .then(data => {
                document.getElementById('status_voz').innerText = data;
            })
            .catch(error => console.error('Erro:', error));
    }

    function StopVoice() {
        fetch('/stop-voice')
            .then(response => response.text())
            .then(data => {
                document.getElementById('status_voz').innerText = data;
            })
            .catch(error => console.error('Erro:', error));
    }

    function StartGestos() {
        fetch('/start-gestos')
            .then(response => response.text())
            .then(data => {
                document.getElementById('status_gestos').innerText = data;
                if (data.includes('iniciado')) {
                    // Mostra o container de vídeo e inicia o stream
                    document.getElementById('video-container').style.display = 'block';
                    document.getElementById('gesture-stream').src = '/rastreio-gestos';
                }
            })
            .catch(error => console.error('Erro:', error));
    }

    function StopGestos() {
        fetch('/parar-rastreio-gestos')
            .then(response => response.text())
            .then(data => {
                document.getElementById('status_gestos').innerText = data;
                // Oculta o container de vídeo e para o stream
                document.getElementById('video-container').style.display = 'none';
                document.getElementById('gesture-stream').src = '';
            })
            .catch(error => console.error('Erro:', error));
    }
</script>
{% endblock %}
