<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sobre Nós - SeeMe</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_landing.css') }}" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/O_SeeMe_Icone.PNG') }}">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/O_SeeMe_Icone.PNG') }}">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <header>
    <nav style="background-color: #1500FF; padding: 10px;" class="navbar navbar-expand-lg bg-primary fixed-top"
      data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="{{ url_for ('main.index') }}">SeeMe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for ('main.home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('main.ajustes') }}">Ajustes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('main.landing') }}">Sobre</a>
            </li>
          </ul>

          {% if current_user.is_authenticated %}
          <div class="d-flex ms-auto">
            <span class="navbar-text me-3">Olá, {{ current_user.email }}!</span>
            <a href="{{ url_for ('main.logout') }}" class="btn btn-outline-light">Sair</a>
          </div>

          {% else %}
          <div class="d-flex ms-auto">
            <a href="{{ url_for ('main.login') }}" class="btn btn-outline-light me-2">Entrar</a>
            <a href="{{ url_for ('main.cadastrar_usuario') }}" class="btn btn-light">Cadastrar</a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>

  <section class="about-us">
    <div class="split-section">
      <!-- Metade Azul -->
      <div class="left-half-up">
        <img src="{{ url_for('static', filename='img/ProjetoAle/Logo SeeMe Branca.PNG') }}" alt="Logo SeeMe"
          class="logo-img" />
        <div class="social-icons">
          <a href="https://www.instagram.com/py_seeme?igsh=MXJsNjFtYXZiZmIxeA==" aria-label="Instagram" target="_blank"
            rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
          <a href="https://www.facebook.com/share/17TZR7DBNm/" aria-label="Facebook" target="_blank"
            rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
          <a href="https://x.com/PySeeme" aria-label="Twitter" target="_blank" rel="noopener noreferrer"><i
              class="bi bi-twitter"></i></a>
        </div>
      </div>
      <!-- Metade Branca -->
      <div class="right-half-up">
        <h1>Sobre nós</h1>
        <p>
          "O SeeMe é uma solução inovadora de acessibilidade digital que transforma a maneira como interagimos com o
          computador. Utilizando visão computacional e inteligência artificial, o projeto permite controlar o mouse com
          os olhos, realizar comandos por meio de gestos das mãos e até transcrever sinais em LIBRAS para texto em tempo
          real.
          <br></br>
          O SeeMe foi desenvolvido a partir de um projeto anterior chamado VisualTouch, que possuía apenas a função de
          detecção ocular. A nova versão representa uma evolução muito mais ampla e profunda — não apenas ampliando as
          funcionalidades, mas também redefinindo completamente a base tecnológica e o propósito do projeto. O SeeMe é
          mais robusto, inteligente e preciso, integrando múltiplos modos de interação e explorando o potencial da
          inteligência artificial com uma nova equipe dedicada à inovação e ao aprimoramento contínuo.
          <br></br>
          O objetivo é oferecer autonomia a pessoas com mobilidade reduzida, surdas ou que buscam novas formas de
          interação além do teclado e da voz."
        </p>
      </div>
    </div>
  </section>

  <!-- Segunda Parte -->

  <!-- Section Slogan com Imagens -->
  <section class="slogan">
    <div class="slogan-section">
      <div class="split-section">
        <!-- Imagem da esquerda -->
        <div class="left-half">
          <img src="{{ url_for('static', filename='img/ProjetoAle/Foto01.jpg') }}" alt="Imagem 1" class="img-left" />
        </div>
        <!-- Frase + Imagem da direita -->
        <div class="right-half">
          <div class="titulo">Dê um novo olhar para a interação digital.</div>
          <img src="{{ url_for('static', filename='img/ProjetoAle/Foto02.jpg') }}" alt="Imagem 2" class="img-below" />
        </div>
      </div>
    </div>
  </section>

  <!-- Terceira Parte -->
  <h2 class="titulo-recursos">Principais Recursos</h2>
  <section class="recursos">
    <!-- ...seu conteúdo dos blocos... -->
  </section>
  <!-- Section Principais Recursos -->

  <section class="recursos">
    <section class="bloco-imagem">
      <div class="header-azul">
        <i class="bi bi-camera-fill camera-icone"></i>
      </div>
      <div class="footer-preto">
        <div class="footer-texto">
          <div>Compatibilidade Acessível</div>
          <div>Interação Multimodal</div>
        </div>
      </div>
    </section>

    <section class="bloco-imagem">
      <div class="header-azul">
        <i class="bi bi-cc-square-fill camera-icone"></i>
      </div>
      <div class="footer-preto">
        <div class="footer-texto">
          <div>Transcrição de LIBRAS</div>
          <div>em Texto</div>
        </div>
      </div>
    </section>
  </section>

  <section class="recursos">
    <section class="bloco-imagem">
      <div class="header-azul">
        <i class="bi bi-eye-fill camera-icone"></i>
      </div>
      <div class="footer-preto">
        <div class="footer-texto">
          <div>Compatibilidade Acessível</div>
          <div>Interação Multimodal</div>
        </div>
      </div>
    </section>

    <section class="bloco-imagem">
      <div class="header-azul">
        <i class="bi bi-universal-access camera-icone"></i>
      </div>
      <div class="footer-preto">
        <div class="footer-texto">
          <div>Compatibilidade Acessível</div>
          <div>Interação Multimodal</div>
        </div>
      </div>
    </section>
  </section>




  <!--Sexta Parte-->
  <h2 class="titulo-recursos">Projeto Anterior</h2>
  <section id="carrossel">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicadores -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4"></button>
      </div>

      <!-- Itens do Carrossel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='img/ProjetoAle/ProjetoAnterior_01.PNG') }}" class="d-block w-100"
            alt="Imagem 1">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/ProjetoAle/ProjetoAnterior_02.PNG') }}" class="d-block w-100"
            alt="Imagem 2">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/ProjetoAle/ProjetoAnterior_03.PNG') }}" class="d-block w-100"
            alt="Imagem 3">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/ProjetoAle/ProjetoAnterior_04.PNG') }}" class="d-block w-100"
            alt="Imagem 4">
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='img/ProjetoAle/ProjetoAnterior_05.PNG') }}" class="d-block w-100"
            alt="Imagem 5">
        </div>
      </div>

      <!-- Controles -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>

    </div>
  </section>



  <!--Sexta Parte-->

  <!-- Quarta Parte -->

  <!-- Section Apresentação da Equipe -->
  <section class="team-section py-5">
    <section class="section-titulo-team">
      <h2 class="titulo-team text-center mb-5">Apresentação da Equipe</h2>
    </section>
    <div class="container">
      <div class="row g-5 justify-content-center">
        <!-- Perfil 1 -->
        <div class="col-lg-4 col-md-12">
          <div class="profile-card text-center">
            <div class="profile-header">
              <h3 class="nome">ALESSANDRO</h3>
              <p class="links-apresentacao">
                <a href="https://www.linkedin.com/in/alessandrogalvaosilva" target="_blank">
                  LinkedIn
                </a>
              </p>
              <p class="links-apresentacao">
                <a href="https://github.com/Alezin777" target="_blank">
                  GitHub
                </a>
              </p>
            </div>
            <img src="{{ url_for('static', filename='img/ProjetoAle/FOTO_ALE.png') }}" alt="Foto de Alessandro"
              class="img-fluid profile-img" />
          </div>
        </div>

        <!-- Perfil 2 -->
        <div class="col-lg-4 col-md-12">
          <div class="profile-card text-center">
            <div class="profile-header">
              <h3 class="nome">ERIK</h3>
              <p class="links-apresentacao">
                <a href="https://www.linkedin.com/in/erick-silvaa" target="_blank">
                  LinkedIn
                </a>
              </p>
              <p class="links-apresentacao">
                <a href="https://github.com/erickk-silva" target="_blank">
                  GitHub
                </a>
              </p>
            </div>
            <img src="{{ url_for('static', filename='img/ProjetoAle/Foto_ERIK.png') }}" alt="Foto de Erik"
              class="img-fluid profile-img" />
          </div>
        </div>

        <!-- Perfil 3 -->
        <div class="col-lg-4 col-md-12">
          <div class="profile-card text-center">
            <div class="profile-header">
              <h3 class="nome">FABIANO</h3>
              <p class="links-apresentacao">
                <a href="http://linkedin.com/in/fabianolira97" target="_blank">
                  LinkedIn
                </a>
              </p>
              <p class="links-apresentacao">
                <a href="http://github.com/FabianoLira97" target="_blank">
                  GitHub
                </a>
              </p>
            </div>
            <img src="{{ url_for('static', filename='img/ProjetoAle/FOTO_Fabiano.PNG') }}" alt="Foto de Fabiano"
              class="img-fluid profile-img" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Quinta Parte -->

  <section class="team-section py-5">
    <div class="container">
      <div class="row g-5 justify-content-center">
        <!-- Perfil 1 -->
        <div class="col-lg-4 col-md-12">
          <div class="profile-card text-center">
            <div class="profile-header">
              <h3 class="nome">MARIA</h3>
              <p class="links-apresentacao">
                <a href="https://linkedin.com/in/maria-yara-bezerra" target="_blank">
                  LinkedIn
                </a>
              </p>
              <p class="links-apresentacao">
                <a href="https://github.com/yarsz" target="_blank">
                  GitHub
                </a>
              </p>
            </div>
            <img src="{{ url_for('static', filename='img/ProjetoAle/Foto_Maria.png') }}" alt="Foto da Maria"
              class="img-fluid profile-img" />
          </div>
        </div>

        <!-- Perfil 2 -->
        <div class="col-lg-4 col-md-12">
          <div class="profile-card text-center">
            <div class="profile-header">
              <h3 class="nome">RAFAEL</h3>
              <p class="links-apresentacao">
                <a href="https://linkedin.com/in/rafael-lima-alves" target="_blank">
                  LinkedIn
                </a>
              </p>
              <p class="links-apresentacao">
                <a href="https://github.com/RafaelLimaSharp" target="_blank">
                  GitHub
                </a>
              </p>
            </div>
            <img src="{{ url_for('static', filename='img/ProjetoAle/FOTO_Rafa.png') }}" alt="Foto de Rafael"
              class="img-fluid profile-img" />
          </div>
        </div>

        <!-- Perfil 3 -->
        <div class="col-lg-4 col-md-12">
          <div class="profile-card text-center">
            <div class="profile-header">
              <h3 class="nome">VITOR</h3>
              <p class="links-apresentacao">
                <a href="https://www.linkedin.com/in/gabrielfsilva/" target="_blank">
                  LinkedIn
                </a>
              </p>
              <p class="links-apresentacao">
                <a href="https://github.com/VitorGabrielFS" target="_blank">
                  GitHub
                </a>
              </p>
            </div>
            <img src="{{ url_for('static', filename='img/ProjetoAle/FOTO_Biel.png') }}" alt="Foto de Vitor"
              class="img-fluid profile-img" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>