<!DOCTYPE html>
<html lang="pt-BR">
    
    <head>
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/O_SeeMe_Icone.PNG') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/O_SeeMe_Icone.PNG') }}">
    
    </head>

</html>
{% block title %}Login - SeeMe{% endblock %}
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-sm p-4">
                <div class="card-body">

                    <h2 class="text-center mb-4 display-6">Bem-vindo de volta</h2>

                    <form method="POST" action="{{ url_for('main.login') }}">
                        <div class="mb-3">
                            <label for="entradaEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="entradaEmail" name="entradaEmail" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">Usaremos apenas para seu login no site.</div>
                        </div>

                        <div class="mb-3">
                            <label for="entradaSenha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="entradaSenha" name="entradaSenha">
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}