{% block title %}Cadastrar - SeeMe{% endblock %}
{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-sm p-4">
                <div class="card-body">

                    <h2 class="text-center mb-4 display-6">Vamos Começar</h2>

                    <form method="POST" action="{{ url_for('main.registrar') }}">
                        <div class="mb-3">
                            <label for="entradaEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="entradaEmail" name="entradaEmail" aria-describedby="emailHelp" required>
                            <div id="emailHelp" class="form-text">Usaremos apenas para seu login no site.</div>
                        </div>

                        <div class="mb-3">
                            <label for="entradaSenha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="entradaSenha" name="entradaSenha" required>
                        </div>

                        <div class="mb-3">
                            <label for="confirmacaoSenha" class="form-label">Confirmação Senha</label>
                            <input type="password" class="form-control" id="confirmacaoSenha" name="confirmacaoSenha" required>
                        </div>
                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}